/* for link preview */
.link-preview-container {
	display: inline-block;
	position: relative;
}

.link-preview-container img {
	display: none;
	position: absolute;
	object-fit: cover;
	left: calc(50% - 200px);
	top: 1.5em;
	width: 400px;
	height: 300px;
	z-index: 9;
	max-width: none;
	border: 1px solid rgba(207, 217, 222, 0.4);
}

.link-preview-container:hover img {
	display: block;
}

/* for link card */
.link-card-container {
	cursor: pointer;
	user-select: none;
	transition: var(--sys-transition);
	width: 100%;
	display: flex;
	align-items: stretch;
	text-align: left;
	overflow: hidden;
	position: relative;
	color: var(--md-sys-color-on-surface);
	fill: inherit;
	margin: 8px 0;
	background-color: rgba(155, 187, 187, 0.1);
	border-radius: 12px;
	max-height: 120px;
}

.link-card-container:hover {
	text-decoration: none;
	border-radius: 24px;
}

.link-card-wrapper {
	display: flex;
	flex-direction: column;
	flex: 4 1 180px;
	padding: 12px 14px;
	min-height: 60px;
	min-width: 0;
}

.link-card-title {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
	color: var(--md-sys-color-primary);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom: 2px;
}

.link-card-description {
	font-size: 14px;
	line-height: 18px;
	max-height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.link-card-text {
	flex: 1;
}

.link-card-url {
	display: flex;
	margin-top: 6px;
	align-items: center;
	color: var(--md-sys-color-on-surface-variant);
}

.link-card-favicon {
	width: 16px;
	height: 16px;
	min-width: 16px;
	margin-right: 6px;
}

.link-card-link {
	font-size: 12px;
	line-height: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.link-card-image-wrapper {
	flex: 1 1 180px;
	min-height: 80px;
	display: block;
	position: relative;
}

.link-card-friend-image-wrapper {
	flex: 1 1 80px;
	min-height: 80px;
	display: block;
	position: relative;
}

.link-card-image {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
