/* html 样式 */
html::-webkit-scrollbar-track {
	background-color: inherit;
	border-radius: 8px;
}

html::-webkit-scrollbar {
	width: 8px;
	background-color: inherit;
}

html::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #009ba1;
}

html::-webkit-scrollbar-thumb:hover {
	background-color: #008ba1;
}

article img {
	border-radius: 12px;
	max-width: 100%;
}

header img {
	border-radius: 24px;
}

.twitter-tweet {
	margin: 10px auto;
}

a {
	color: var(--md-sys-color-primary);
	box-shadow: none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	border: none;
	height: 0.6px;
	background-color: var(--md-sys-color-outline);
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei',
		'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
	margin: 0;
	transition: background-color 0.5s ease, color 0.5s ease;
	background-color: var(--md-sys-color-surface);
	color: var(--md-sys-color-on-surface);
	--sys-transition: all 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
	--md-sys-color-surface-container: rgba(155, 187, 187, 0.1);
}

blockquote {
	margin-left: -1.75rem;
	margin-right: 1.75rem;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 1.42188rem;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.75rem;
	font-size: 1.20112rem;
	line-height: 1.75rem;
	color: var(--md-sys-color-on-surface-variant);
	font-style: italic;
	border-left: 0.32813rem solid var(--md-sys-color-outline);
}

table {
	background-color: var(--md-sys-color-surface-container);
	border-collapse: collapse;
	border-spacing: 0px;
	border-radius: 12px;
	overflow: hidden;
	width: 100%;
}

tbody tr {
	border-top: 1px solid var(--md-sys-color-outline-variant);
}

th:nth-child(2n),
td:nth-child(2n) {
	background-color: var(--md-sys-color-surface-container);
}

th,
td {
	padding: 8px;
}

video {
	max-width: 100%;
}

/* 夜间模式样式 */
body.light-mode {
	--md-sys-color-primary: #00696d;
	--md-sys-color-on-primary: #ffffff;
	--md-sys-color-primary-container: #6ff6fd;
	--md-sys-color-on-primary-container: #002021;
	--md-sys-color-secondary: #4a6364;
	--md-sys-color-on-secondary: #ffffff;
	--md-sys-color-secondary-container: #cce8e9;
	--md-sys-color-on-secondary-container: #041f21;
	--md-sys-color-tertiary: #4e5f7d;
	--md-sys-color-on-tertiary: #ffffff;
	--md-sys-color-tertiary-container: #d5e3ff;
	--md-sys-color-on-tertiary-container: #081c36;
	--md-sys-color-error: #ba1a1a;
	--md-sys-color-on-error: #ffffff;
	--md-sys-color-error-container: #ffdad6;
	--md-sys-color-on-error-container: #410002;
	--md-sys-color-background: #fafdfc;
	--md-sys-color-on-background: #191c1c;
	--md-sys-color-surface: #fafdfc;
	--md-sys-color-on-surface: #191c1c;
	--md-sys-color-surface-variant: #dae4e5;
	--md-sys-color-on-surface-variant: #3f4949;
	--md-sys-color-outline: #6f7979;
	--md-sys-color-outline-variant: #bec8c9;
	--md-sys-color-shadow: #000000;
	--md-sys-color-scrim: #000000;
	--md-sys-color-inverse-surface: #2d3131;
	--md-sys-color-inverse-on-surface: #eff1f1;
	--md-sys-color-inverse-primary: #4cd9e0;
}

body.dark-mode {
	--md-sys-color-primary: #4cd9e0;
	--md-sys-color-on-primary: #003739;
	--md-sys-color-primary-container: #004f52;
	--md-sys-color-on-primary-container: #6ff6fd;
	--md-sys-color-secondary: #b1cccd;
	--md-sys-color-on-secondary: #1b3436;
	--md-sys-color-secondary-container: #324b4c;
	--md-sys-color-on-secondary-container: #cce8e9;
	--md-sys-color-tertiary: #b5c7e9;
	--md-sys-color-on-tertiary: #1f314c;
	--md-sys-color-tertiary-container: #364764;
	--md-sys-color-on-tertiary-container: #d5e3ff;
	--md-sys-color-error: #ffb4ab;
	--md-sys-color-on-error: #690005;
	--md-sys-color-error-container: #93000a;
	--md-sys-color-on-error-container: #ffb4ab;
	--md-sys-color-background: #191c1c;
	--md-sys-color-on-background: #e0e3e3;
	--md-sys-color-surface: #191c1c;
	--md-sys-color-on-surface: #e0e3e3;
	--md-sys-color-surface-variant: #3f4949;
	--md-sys-color-on-surface-variant: #bec8c9;
	--md-sys-color-outline: #899393;
	--md-sys-color-outline-variant: #3f4949;
	--md-sys-color-shadow: #000000;
	--md-sys-color-scrim: #000000;
	--md-sys-color-inverse-surface: #e0e3e3;
	--md-sys-color-inverse-on-surface: #2d3131;
	--md-sys-color-inverse-primary: #00696d;
}

.dark-mode .bannerImg {
	opacity: 0.8;
}

.dark-mode #gh path {
	fill: #fff;
}

.dark-mode #sun-icon {
	display: none;
}

.light-mode #moon-icon {
	display: none;
}
